.gallery {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .item {
        width: 300px;
        height: 200px;
        border-radius: 20px;
        border: 1px solid lightgrey;
        margin: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        position: relative;
        overflow: hidden;
        transition: all 0.5s ease;
        cursor: pointer;

        h4 {
            position: absolute;
            font-size: 18px;
            margin: 0 10px;
            text-align: center;
        }

        img {
            min-height: 100%;
            min-width: 100%;
            object-fit: contain;
            z-index: 1;
        }

        &:hover {
            background-color: #262426;
            img {
                opacity: 0.2;
                z-index: 0;
            }
        }
    }
    @media screen and (max-width: 960px) {
        width: 100%;
        .item {
            width: 200px;
            height: 133px;
        }

        img {
            max-width: 100%;
        }
    }
}

.modal-content {
    padding: 20px;

    .subheader {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    
    .company, .date {
        margin: auto 0;
    }

    .github-link {
        display: flex;
        flex-direction: row;
        .fa-github {
            font-size: 20px;
            margin: 0 8px;
        }

        @media screen and (max-width: 500px) {
            .github-view {
                display: none;
            }
        }   
    }

    ul {
        list-style: none;
    }

    li {
        position: relative;
        padding-left: 1.5em;

        &:before {
            content: '';  /* placeholder for the SVG */
            position: absolute;
            left: 0;  /* place the SVG at the start of the padding */
            width: 1em;
            height: 1em;
            background: url("data:image/svg+xml;utf8,<?xml version='1.0' encoding='utf-8'?><svg width='15' height='18' viewBox='0 0 1792 1792' xmlns='http://www.w3.org/2000/svg'><path d='M1671 566q0 40-28 68l-724 724-136 136q-28 28-68 28t-68-28l-136-136-362-362q-28-28-28-68t28-68l136-136q28-28 68-28t68 28l294 295 656-657q28-28 68-28t68 28l136 136q28 28 28 68z'/></svg>") no-repeat;
            
        }
    }
    
}

.close-button {
    width: 20px;
    height: 20px
}

.modal {
    min-width: 40%;
}