.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.navbar-logo {
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.navbar-box {
  margin-top: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.navbar-box-top {
  display: flex;
  width: 100%;
  height: 55px;
}

.navbar-box-top__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: auto;
}

.navbar-box-top__navbar {
  display: flex;
  flex: 1;
  flex-direction: column;
}


.navbar-box-top__navigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 55px;
}

