.navbar {
  display: flex;
  flex-direction: row;
}

.navbar-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  color: inherit;
  text-decoration: inherit;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.navbar-logo {
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  font-weight: 900;
}

.navbar-bars,
.navbar-filler {
  display: none;
  width: 40px;
}

.navbar-box {
  display: flex;
  width: calc(100vw - 55px);
  min-height: 55px;
  margin-bottom: 5px;
}

.navbar-box__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-right: auto;
  cursor: pointer;
}

.navbar-box__navbar {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.navbar-box__navigation {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.fa-laptop-code {
  margin-left: 10px !important;
}

@media screen and (max-width: 960px) {
  .navbar {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .open {
    display: initial;
  }

  .close {
    display: none;
  }

  .navbar-item {
    margin: 5px auto;
  }

  .navbar-box {
    width: 100%;
    margin: 0;
  }

  .navbar-box__navigation {
    flex-direction: column;
    flex: initial;
  }

  .navbar-box__header {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }

  .navbar-bars,
  .navbar-filler {
    display: initial;
    margin: 0 10px;
  }

  .navbar-item {
    cursor: pointer;
    &:hover {
      color: blue;
    }
  }
}
